@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: radial-gradient(circle at 30% 20%, #1a1f3c, #0a0c1a 70%);
    overflow:hidden;}

/* Calculator Body Hai */
.calculator
{
    width:340px;
    padding:25px;
    border-radius:25px;
    background: black;
    box-shadow: 0 0 30px rgba(0,0,0,0.4), inset 0 0 10px rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    position:relative;
}

/* Input & Output Display Hai */
.display
{
    height:90px;
    border-radius:18px;
    background:rgba(255,255,255,0.07);
    color:#fff;
    font-size:2rem;
    text-align:right;
    padding:20px;
    overflow-x:auto;
    scrollbar-width:none;
}

/* Numbers & Operators Button Hai */
.buttons
{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin-top:25px;
}

/* Yah Button Ka Style Hai */
button
{
    height:65px;
    border:none;
    outline:none;
    border-radius:15px;
    font-size:1.2rem;
    font-weight:500;
    cursor:pointer;
    transition:all .15s ease-in-out;
    color:#fff;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

button:hover{
    transform:translateY(-3px);
    border: 2px solid white;}

button{
    font-size: 25px;
    font-weight:600;}

button:active {
    transform: translateY(1px);
}

.operator{
    color: #26FED7;}

/* = Operator ka style */
.equal{
    background-color: #d63f3f;
    font-weight:600;
    font-size: 30px;
    grid-column: 3/5;}

/* AC Operator ka style */
.clear{
    color:#ff3b6c;}

/* Heading ka style */
.brand{
    text-align:center;
    color: white;
    margin-bottom:15px;
    letter-spacing:1px;
    font-size:1.5rem;
    font-weight: 800;}

/* Responsive ke liye */
@media(max-width:400px){
    .calculator{width:90vw;padding:20px;}
    .display{font-size:1.7rem;}
    button{height:58px;font-size:1rem;}}